<h3>Liepājas Afišas manifests</h3>

<blockquote>
	Mūsu mērķis ir izveidot vienotu Liepājas afišu, modernā formātā, pieejamu gan ierastajā pārlūkā, 
	gan aplikācijās kas atbalsta RSS vai ICS, gan telefonā. 
	
	Mēs gribam, lai informācija ir centralizēta un jebkurai personai ir iespēja pievienot savu pasākumu.
</blockquote>


<h3>Kapēc vēl viena afiša?</h3>
<p>Šobrīd afišu piedāvā vairāki ziņu portāli, bet:</p>
<ul>
	<li>Neviens interneta resurss nepiedāvā to formātā, kuru varētu izmantot ārpus interneta pārlūka</li>
	<li>Informācija nav centralizēta, katrs resurss izvēlas kādus pasākums iekļaut savā afišā, vai nav pietiekami liela informācijas cirkulācija.</li>
	<li>Informācija ir defragmentēta, detalizētāka informācija par pasākumu, katrā resursā bieži vien atšķiras.</li>
	<li>Parastajam liepājniekam nav īsti skaidrs kā pievienot pasākumu, kurš pēc tam uzrādītos visos iespējamos resursos.</li>
</ul>

<h3>Kā viss strādā?</h3>
<p>Esošais tehniskais risinājums sakomplektē pasākums no pieejamiem interneta resursiem un izvieto tos publiskā Google kalendārā. Pasākumi ir sakomplektēti vienreiz dienā.</p>

<p>Izmantotie resursi:</p>
<ul>
	<li><a href="http://www.liepajniekiem.lv/" target="_blank">http://www.liepajniekiem.lv/</a></li>
	<li><a href="http://www.fontainepalace.lv" target="_blank">http://www.fontainepalace.lv</a></li>
	<li><a href="http://www.firebar.lv" target="_blank">http://www.firebar.lv</a></li>
	<li><a href="http://www.prisonbar.lv/" target="_blank">http://www.prisonbar.lv/</a></li>
</ul>

<p>Google kalendārs un tā formāti:</p>
<ul>
	<li><a href="https://www.google.com/calendar/feeds/oo8r336lk30qjeth0m77gnf9eg%40group.calendar.google.com/public/basic" target="_blank">RSS / ATOM XML</a></li>
	<li><a href="https://www.google.com/calendar/embed?src=oo8r336lk30qjeth0m77gnf9eg%40group.calendar.google.com&ctz=Europe/Riga" target="_blank">HTML</a></li>
	<li><a href="https://www.google.com/calendar/ical/oo8r336lk30qjeth0m77gnf9eg%40group.calendar.google.com/public/basic.ics" target="_blank">iCal (.ics)</a></li>
</ul>


<p>Par ieteikumiem, sūdzībām un idejām:</p>
<p><a href="mailto:info@mindmutex.com">info@mindmutex.com</a></p
